<div class="grid-container">
    <div class="content" [innerHtml]="this.hero.htmlContent">

    </div>
    <div class="stats">
        <h1>{{hero.name}}</h1>
        <img class="avatar" src="null" alt="Hero avatar">
        <br>
        <caption>Info:</caption>
        <div class="stats-details">
            <div class="caption">Age:</div>
            <div class="value">{{hero.age}}</div>

            <div class="caption">Gender:</div>
            <div class="value">{{hero.gender}}</div>

            <div class="caption">Birth:</div>
            <div class="value">{{hero.birth_place}}</div>

            <div class="caption">Race:</div>
            <div class="value">{{hero.race.name}}</div>

            <div class="caption">Profession:</div>
            <div class="value">{{hero.profession}}</div>
        </div>
        <br>
        <caption>Stats:</caption>
        <div class="stats-details">
            <div class="caption">Strenght:</div>
            <div class="value">{{hero.stats.strenght}}</div>
            
            <div class="caption">Endurance:</div>
            <div class="value">{{hero.stats.endurance}}</div>

            <div class="caption">Agility:</div>
            <div class="value">{{hero.stats.agility}}</div>

            <div class="caption">Intelligence:</div>
            <div class="value">{{hero.stats.intelligence}}</div>

            <div class="caption">Charisma:</div>
            <div class="value">{{hero.stats.charisma}}</div>
        </div>
        <br>
        <caption>Look:</caption>
        <div class="stats-details">
            <div class="caption">Height:</div>
            <div class="value">{{hero.look.height}}</div>
            
            <div class="caption">Hair:</div>
            <div class="value">{{hero.look.hair}}</div>

            <div class="caption">Eyes:</div>
            <div class="value">{{hero.look.eyes}}</div>

            <div class="caption">Skin:</div>
            <div class="value">{{hero.look.skin}}</div>

            <div class="caption">Special:</div>
            <div class="value">{{hero.look.special_characters}}</div>   
        </div>

    </div>
</div>