<div class="grid-container">
    <div class="content">
        <div class="paragraph" *ngFor="let hero of hero.description">
            <h2>{{hero.title}}</h2>
            <p>{{hero.content}}</p>
        </div>

    </div>
    <div class="stats">
        <h1>{{hero.name}}</h1>
        <table>
            <caption>Info:</caption>
            <tr>
                <td>Age</td>
                <td>{{hero.age}}</td>
            </tr>
            <tr>
                <td>Gender</td>
                <td>{{hero.gender}}</td>
            </tr>
            <tr>
                <td>Birth</td>
                <td>{{hero.birth_place}}</td>
            </tr>
            <tr>
                <td>Race</td>
                <td>{{hero.race}}</td>
            </tr>
            <tr>
                <td>Profession</td>
                <td>{{hero.profession}}</td>
            </tr>
        </table>
        <br>
        <table>
            <caption>Stats:</caption>
            <tr>
                <td>Strength</td>
                <td>{{hero.stats.strength}}</td>
            </tr>
            <tr>
                <td>Endurance</td>
                <td>{{hero.stats.endurance}}</td>
            </tr>
            <tr>
                <td>Agility</td>
                <td>{{hero.stats.agility}}</td>
            </tr>
            <tr>
                <td>Intelligence</td>
                <td>{{hero.stats.intelligence}}</td>
            </tr>
            <tr>
                <td>Charisma</td>
                <td>{{hero.stats.charisma}}</td>
            </tr>
        </table>
        <br>
        <table>
            <caption>Look:</caption>
            <tr>
                <td>Height</td>
                <td>{{hero.look.height}}</td>
            </tr>
            <tr>
                <td>Hair</td>
                <td>{{hero.look.hair}}</td>
            </tr>
            <tr>
                <td>Eyes</td>
                <td>{{hero.look.eyes}}</td>
            </tr>
            <tr>
                <td>Skin</td>
                <td>{{hero.look.skin}}</td>
            </tr>
            <tr>
                <td>Special</td>
                <td>{{hero.look.special_characters}}</td>
            </tr>
        </table>
    </div>
</div>