a{
    text-decoration: none;
    color: #fff;
    > h1 {
        font-size: 1.75rem;
    }
}
mat-toolbar-row{
    justify-content: space-between;
}
.button{
    margin-left: 10px;
}
.search{
    position: relative;
    top: 2px;
    right: 5px;
}