<h1>New hero details:</h1>
<form [formGroup]="heroForm" (ngSubmit)="onSubmit()">
    <mat-form-field class="example-full-width">
        <input formControlName="name" matInput placeholder="Name" value="">
    </mat-form-field>
    <br>
    <mat-radio-group aria-label="Select an option" formControlName="gender">
        <mat-radio-button value="Male">Male</mat-radio-button>
        <mat-radio-button value="Female">Female</mat-radio-button>
    </mat-radio-group>
    <br>
    <mat-form-field>
        <mat-label>Breed</mat-label>
        <mat-select  formControlName="race">
            <mat-option *ngFor="let race of races" [value]="race.name">
                {{race.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <br>
    <button mat-raised-button color="primary" type="submit" [disabled]="!heroForm.valid">Submit</button>
</form>
